body {
  font-family: "Monaco", "Menlo", monospace;
  color: rgb(60, 60, 60);
}

#content {
  width: 680px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  border-bottom: 1px silver solid;
  margin: 0.5em 0 0 0;
  color: purple;
}

.subheading {
  font-size: 0.75em;
  margin: 0.5em 0 2em 0;
  font-weight: normal;
  color: silver;
}

.subheading span {
  white-space: nowrap;
}

a {
  color: silver;
}

#content img {
  width: 100%;
}
