body {
	font-family: "Monaco", "Menlo", monospace;
	color: rgb(60, 60, 60);
}

#content {
	width: 680px;
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	border-bottom: 1px silver solid;
	margin: 0.34em 0;
	color: purple;
}

h2 {
	font-size: 0.75em;
	margin: 0.34em 0 2em 0;
	font-weight: normal;
	color: silver;
}

h2 span {
	white-space: nowrap;
}

a {
	color: silver;
}

#content img {
	width: 100%;
}
